name: Grade Assignment

on:
  # We use pull_request_target instead of pull_request to run actions on forks
  pull_request_target:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          # because we use 'pull_request_target', we need to explicitly checkout the PR head ref
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"

      - name: Verify Node.js installation
        run: |
          which node
          node --version
          echo "PWD: $PWD"
          ls -la .hyf/

      - name: Run tests script
        working-directory: .hyf
        # test.sh must output a results file at .hyf/score.json
        # Both score.json and test-output.txt are used by the comment-pr.js script
        run: bash test.sh > test-output.txt 2>&1

      - name: Comment PR
        uses: actions/github-script@v8
        with:
          script: |
            const run = require('./.github/scripts/comment-pr.js');
            await run({ github, context, core, resolvePrevious: true });

      - name: Fail if tests failed
        run: |
          PASS=$(jq -r '.pass' .hyf/score.json)
          if [ "$PASS" != "true" ]; then
            exit 1
          fi
